name: deploy

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Deploy action'
        required: true
        default: 'deploy'
        type: choice
        options:
          - deploy
          - artisan:db:seed
          - rollback
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency: production

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        run: composer install --no-interaction --no-progress --no-suggest --prefer-dist

      - name: Create GitHub Deployment
        id: deployment
        uses: bobheadxi/deployments@v1
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: production
          ref: ${{ github.ref_name }}
          desc: 'Deploying to production'

      - name: Run deploy command
        id: deploy
        continue-on-error: true
        uses: deployphp/action@v1
        with:
          private-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
          dep: ${{ inputs.action || 'deploy' }} type=production

      - name: Set deployment status
        if: always()
        uses: bobheadxi/deployments@v1
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          env: production
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          status: ${{ steps.deploy.outcome == 'success' && 'success' || 'failure' }}
